// color scheme
// gray scale

$white-l: #fff;
$white-m: #fafafa;
$white-d: #f0f0f0;

$gray-l: #ddd;
$gray-m: #aaa;
$gray-d: #777;

$black-l: #555;
$black-m: #333;
$black-d: #000;

// colors
$annotations_blue: #b8c9e5;
$annotations_blueGray: #dce5ee;
$annotations_bgColor: #f3efec;