@charset "utf-8";

@import "compass";
@import "compass/reset";

@import "partial/mixins";
@import "partial/general";
@import "partial/color";

body {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	background: $white-l;
  color: #333;
}

/* wrapper */
.wrapper {
  width: 100%;
  padding: 0 0 100px;
}

/* header */
.header {
  width: 100%;
  margin: 0 auto;
  background-color: $white-l;
  box-shadow: 0 2px 1px rgba($black-d, .2);
  position: fixed;
}
.globalHeader {
  width: 900px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  &__wrapper {
    @include pie-clearfix;
    width: 900px;
    height: 70px;
    margin: 0 auto;
  }
  &__logo {
    @include fontSize(27);
    width: 164px;
    height: 70px;
    margin:0 auto;
    padding: 20px 0;
    color: $gray-m;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    float: left;
    font-family: Verdana, Geneva, sans-serif;
  }
}

/* main */
.main {
  margin: 0 auto;
  background-color: $white-m;
  &__teamInfo {
    padding: 200px 0;
    text-align: center;
  }
}

/* contents */
.contents {
  @include pie-clearfix;
  width: 100%;
  height: 100%;
  &__inner {
    @include pie-clearfix;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  &__title {
    @include fontSize(35);
    padding: 100px 0 50px;
    color: $gray-m;
    text-align: center;
  }
}

/* form */
.formBox {
  width: 200px;
  margin: 0 auto;
  &__text {
    @include fontSize(18);
    margin-bottom: 15px;
    text-align: center;
  }
}

/* fotmTable */
.formTable {
  width: 170px;
  margin: 0 auto;
  &__title {
    @include fontSize(14);
    padding: 0 5px;
    text-align: left;
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  &__input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  &__textarea {
    width: 350px;
    height: 100px;
    resize: none;
    border: 1px solid $gray-m;
  }
}
.formButton {
  width: 100px;
  height: 35px;
  border: 1px solid $gray-m;
  background-color: $white-l;
}

/* inputbox */
.inputBox {
  margin-bottom: 15px;
  text-align: center;
}

/* textBox */
.textBox {
  &__text {
    @include fontSize(14);
    margin: 10px auto;
    text-align: center;
  }
}

/* buttonWrapper */
.buttonWrapper {
  width: 100%;
  text-align: center;
}